asgiref==3.7.2
blinker==1.6.2
click==8.1.7
colorama==0.4.6
distlib==0.3.7
Django==4.2.6
filelock==3.12.3
flake8==6.1.0
Flask==2.3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
platformdirs==3.10.0
pycodestyle==2.11.1
pyflakes==3.1.0
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.5
Werkzeug==2.3.7